<div class="ui container">
  <h2>Die Bestellungen aller User</h2>
    <br/>
    <div class="ui">
        <br/>
        <div class="ui celled table" *ngFor="let order of orders" >
            <table>
                <thead>
                    <tr>
                        <th>Bestellnummer: {{ order?.id }}</th>
                        <th>Benutzer-ID: {{ order?.user_id }}</th>
                        <th>Bestelldatum: {{ order?.order_date }}</th>
                    </tr>
                </thead>
            </table>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Titel</th>
                        <th>Menge</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let position of order?.positions">
                        <td data-label="ISBN">{{ position?.book.isbn }}</td>
                        <td data-label="Titel">{{ position?.book.title }}</td>
                        <td data-label="Menge">{{ position?.quantity }} STK</td>
                        <td class="right aligned" data-label="Preis">{{ position?.price }} EUR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="right aligned" >Summe:</td>
                        <td class="right aligned" >{{ order?.total*100/(100+order?.vat) }} EUR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="right aligned" >{{ order?.vat }}% Steuer:</td>
                        <td class="right aligned" >{{ order?.total*order?.vat/(100+order?.vat) }} EUR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="right aligned"><b>Gesamtsumme:</b></td>
                        <td class="right aligned"><b>{{ order?.total }} EUR</b></td>
                    </tr>
                </tbody>
            </table>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Datum</th>
                        <th>Kommentar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let state of order?.states">
                        <td>{{ state?.state }}</td>
                        <td> am {{ state?.state_date }}</td>
                        <td>Kommentar: {{ state.comment }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>