<div class="ui middle aligned selection divided list">
  <h2>Die Bestellungen aller User</h2>
  <div class="item" *ngFor="let order of orders" >
    <div>
      ID: {{ order.id }}
      User: {{ order.user_id }}
    </div>
    <div *ngFor="let book of order.books">
        <div>
            Book: {{ book.title }}
        </div>
        <div>
            Price {{ book.price }}
        </div>
    </div>
    <div>Sum: {{ order.total*100/(100+order.vat) }}</div>
    <div>Vat: {{ order.vat }}</div>
    <div>Total: {{ order.total }}</div>
    <div *ngFor="let state of order.states">
        <div>State: {{ state.state }} changed on {{ state.state_date }}</div>
    </div>
  </div>
</div>