<div class="ui container">
  <div class="ui grid" *ngIf="book">
    <div class="four wide column">
      <img class="ui large image" *ngIf="book.images && book.images[0]"
           [src]="book.images[0].url">
    </div>
    <div class="twelve wide column">
      <h1 class="ui header">{{ book?.title }}</h1>
      <h3 class="ui header">{{ book?.subtitle }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="five wide column">
          <h4 class="ui header">Autoren</h4>
          <span *ngFor="let author of book.authors; last as l">
           {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
         </span>
        </div>
        <div class="five wide column">
          <h4 class="ui header">ISBN</h4>
          {{ book.isbn }}
        </div>
        <div class="five wide column">
          <h4 class="ui header">Erschienen</h4>
          {{ book?.published }}
        </div>
        <div class="five wide column">
          <h4 class="ui header">Bewertung</h4>
          <i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i>
        </div>
        <div class="five wide column">
          <h4 class="ui header">Preis</h4><b>{{ book.price }} EUR</b>
        </div>
      </div>
    </div>
    <div class="sixteen wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ book.description }}
    </div>
    <div class="sixteen wide column">
      <div class="ui small images">
        <img *ngFor="let thumbnail of book.images" [src]="thumbnail.url">
      </div>
    </div>
  </div>
  <!--
  <h3>Warenkorb</h3>
  <form  class="ui large form" [formGroup]="cartForm" (ngSubmit)="submitForm()">
    <input type="hidden" name="id">
    <div class="field">
      <label>Menge</label>
      <input type="number" formControlName="quantity">
      <div *ngIf="errors.price" class="ui negative message">{{ errors.price }}</div>
    </div>
    <button type="submit" class="ui green button" [disabled]="cartForm.invalid">Zum Warenkorb hinzufügen</button>
  </form>
  -->

  <button [routerLink]="'/books'" class="ui tiny red labeled icon button">
    Zurück zur Bücherliste
    <i class="backward icon"></i>
  </button>

  <a *ngIf="quantity>1" class="ui tiny blue labeled icon button" (click)="decreaseQuantity();">
    <i class="minus icon"></i>
  </a>
  <div>Menge: {{quantity }}</div>
  <a class="ui tiny blue labeled icon button" (click)="increaseQuantity();">
    <i class="plus icon"></i>
  </a>
  <a class="ui tiny blue labeled icon button" routerLink="/cart" (click)="addBookToCart();">
    Zum Warenkorb hinzufügen
    <i class="cart icon"></i>
  </a>

  <a *ngIf="authService.isAdminUser()" class="ui tiny yellow labeled icon button"
     [routerLink]="['../../admin',book?.isbn]">
    <i class="write icon"></i>
    Buch bearbeiten</a>

  <button *ngIf="authService.isAdminUser()" class="ui tiny red labeled icon button"
          (click)="removeBook()">
    <i class="remove icon"></i> Buch löschen
  </button>

</div>